body{
    background-color:rgb(204, 187, 155);
}
.Clock-container{
    width: 750px;
    margin: 150px auto;
    
    
}
.clock-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 40px solid black;
    font-size: 140px;
    border-radius:20px ;   
    padding: 15px; 
    background-color: rgb(51, 51, 158);
    color: rgb(92, 201, 70);
}