body{
    background-color:rgb(131, 125, 70);
}
.Clock-container{
    width: 810px;
    margin: 150px auto;
    padding: 10px;
    
    
}
.clock-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 40px solid black;
    font-size: 140px;
    border-radius:20px ;   
    padding: 19px; 
    background-color: rgb(50, 50, 117);
    color: rgb(92, 201, 70);
    font-family:fantasy;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0 0 5px black;
    
    
}
.colen{
    padding: 0 2px;
    margin: 0 16px;
    text-shadow: 2px 2px 5px black;

}
.ampm{
    font-size: 80px;
    margin-left: 10px;
    text-shadow: 2px 2px 5px black;
    color: rgb(92, 201, 70);
    font-family:fantasy;
    margin: 0 16px;
    text-shadow: 2px 2px 5px black;
}